.App {
  margin: auto;
  padding: 30px;
  display: flex;

}

.App div {
  margin-right: 50px;
}

.error {
  border-radius: 5px;
  border: #E2FF65 2px solid;
}

.error-message {
  color: #E2FF65;

}

.Input {
  border-radius: 5px;
background-color: #DFE3EE;
}

.active-filter {
  font-size: larger; 
}

.is-done {
  opacity: 0.5;
}

button {
  text-decoration: solid;
  margin: 1px;
  border-radius: 5px;
  border-color:  #122543;
  background-color: #122543;
  color: #DFE3EE;
}

